#recipe_list    { 
                position: fixed;
                width: 100%;
                top: 0;
                                }

body            {
                font-size: 120%;
                margin: 0;
                background-color:cornsilk;
                                }
        
nav   ul        {
                padding: 20px;
                position: fixed;
                margin-left: -377px;
                background-color:lightgray;
                border-radius: 10px;
                opacity: .7;
                margin-top: 525px;
                border: 1px solid blue;
                                }

nav ul:hover    {
                margin-left:0px;
                opacity: 1;
                                }
        
h1              {
                text-align: center;
                background-color:cornflowerblue;
                margin: 0;
                font-size: 50px;
                line-height: 40px;
                padding: 20px;
                                }

h4, h3, ol      {
                padding-top: 20px
                                }

table, ol       {
                min-width: 20rem; 
                max-width: 40rem;
                                } 
        
img             {
                width: 450px;
                height: 400px;
                border: 10px solid black;
                padding: 8px;
                                }
        
h2              {
                margin-left: 3rem;
                padding-top: 120px;
                                }

td              {
                border-bottom: 1px solid black;
                                }

th              {
                text-align: left;
                width: 300px;
                                }

div             {
                display: flex;
                flex-flow: row nowrap;
                                }

.instructions   {
                padding-top: 110px;
                margin: auto;
                                }

article         {
                margin-left: auto;
                flex: 1 1 50;
                                }

footer          {
                width: 100%;
                background-color:cornflowerblue;
                font-size: 15px;
                
}

.credits        {
                
                margin-bottom: 0;
                margin-left: 3rem;
}
