#recipe_list    { 
                position: fixed;
                width: 100%;
                top: 0;
                }

body            {
                font-size: 120%;
                margin: 0;
                background-color:cornsilk;
                }
        
nav   ul        {
                padding: 20px;
                position: fixed;
                margin-left: -377px;
                background-color:lightgray;
                border-radius: 10px;
                opacity: .7;
                margin-top: 525px;
                border: 1px solid blue;
                }

nav ul:hover    {
                margin-left:0px;
                opacity: 1;
                }
        
h1              {
                text-align: center;
                background-color:cornflowerblue;
                margin: 0;
                font-size: 50px;
                line-height: 40px;
                padding: 20px;
                }

article         {
                margin-top: 30px;
                }
        
figure          {
                margin-left: 3rem;
                margin-bottom: -24rem;
                } 
        
h4, h3          {
                margin-left: 30rem;
                }

table, ol, ul   {
                margin-left: 32rem;
                min-width: 20rem;
                max-width: 50rem;
                }
        
img             {
                width: 300px;
                height: 300px;
                border: 10px solid black;
                padding: 8px;
                }
        
h2              {
                padding-top: 120px;
                Margin-left: 40px;
                }

td              {
                padding-right: 25px;
                border-bottom: 1px solid black;
                }

th              {
                text-align: left;
                width: 250px;
                }

figcaption      {
                font-size: 75%;
                }
